@{
    ViewData["Title"] = "MP Seats";
}
@{
    Layout = "_LayoutOfficial";
}


<script src="../lib/jquery/dist/jquery.min.js"></script>
<script src="../js/MPSeats.js"></script>

<link href="../vendor/datatable/jquery.datatables.min.css" rel="stylesheet" />
<script src="../vendor/datatable/jquery.datatables.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        Load_MPSeats_Details();
    });


</script>
<div class="pagetitle">
    <h1>Official</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">MP Seats</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        MP Seats
                        <button type="button" style="float: right;" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="bi bi-plus-square"></i></button>
                    </h5>

                    <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add New Constituency</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-4">Constituency</div>
                                        <div class="col-md-8"><input type="text" id="txtConstituency" class="form-control" /></div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-4">State</div>
                                        <div class="col-md-8">
                                            <select id="ddlConstituency"class="form-control">
                                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                <option value="Assam">Assam</option>
                                                <option value="Bihar">Bihar</option>
                                                <option value="Chhattisgarh">Chhattisgarh</option>
                                                <option value="Delhi ">Delhi </option>
                                                <option value="Goa">Goa</option>
                                                <option value="Gujarat">Gujarat</option>
                                                <option value="Haryana">Haryana</option>
                                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                <option value="Jharkhand">Jharkhand</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Kerala">Kerala</option>
                                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                <option value="Maharashtra">Maharashtra</option>
                                                <option value="Manipur">Manipur</option>
                                                <option value="Meghalaya">Meghalaya</option>
                                                <option value="Mizoram">Mizoram</option>
                                                <option value="Nagaland">Nagaland</option>
                                                <option value="Odisha">Odisha</option>
                                                <option value="Punjab">Punjab</option>
                                                <option value="Rajasthan">Rajasthan</option>
                                                <option value="Sikkim">Sikkim</option>
                                                <option value="Tamil Nadu">Tamil Nadu</option>
                                                <option value="Telangana">Telangana</option>
                                                <option value="Tripura">Tripura</option>
                                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                <option value="Uttarakhand">Uttarakhand</option>
                                                <option value="West Bengal">West Bengal</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">Area Code</div>
                                        <div class="col-md-8"><input type="text" id="txtAreaCode" class="form-control" /></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="MPSeats_Add()">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="filter">
                    </div>

                    <!-- Table with stripped rows -->
                    <table id="tblMPSeats" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Constituency Name</th>
                                <th>State</th>
                                <th>Area Code</th>
                            </tr>
                        </thead>
                        <tbody id="tbMPSeats">
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>