<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Form</title>
    <script>
        function submitForm() {
            var formData = new FormData();
            formData.append("name", $("#name").val());
            formData.append("photo", $("#photo")[0].files[0]);

            $.ajax({
                url: "../ECIOfficials/YourAction",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#result").html(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
</head>
<body>

    <form id="uploadForm" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo" accept="image/*" required>

        <button type="button" onclick="submitForm()">Submit</button>
    </form>

    <div id="result"></div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="../js/main.js"></script>
</body>
</html>